<div ng-controller="AdminCtrl" class="container">
	<label>Project Title</label><br />
	<input type="text" class="title form-control" placeholder="Project Title"/><br /><br /><br />
	<label>Project Image</label>
	<input type="file" class="imgUrl form-control"/><br /><br /><br />
	<label>Project Description</label><br />
	<textarea class="description form-control" placeholder="Project Description"></textarea><br /><br /><br />
	<button class="btn btn-lg btn-success" ng-click="addProject()">
		Submit Project
	</button>
</div>